<div class="text-right">
  <i class="fas fa-times modal-remove-icon"></i>
</div>

<%= button_tag 'Add image', type: 'button', class: 'btn btn-outline-dark modal-image-addition-button' %>
<div class="modal-image-addition-form">
  <%= form_with(model: image, local: true, url: admin_images_path) do |form| %>
    <% if image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(image.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :image %><br />
      <%= form.file_field :image, id: :image_image %>
    </div>

    <div class="field">
      <%= form.label :alt %><br />
      <%= form.text_field :alt, id: :image_alt %>
    </div>

    <div class="field">
      <%= form.label :title %><br />
      <%= form.text_field :title, id: :image_title %>
    </div>

    <div class="actions">
      <%= form.submit id: 'modal-image-submit-button' %>
    </div>
  <% end %>
</div>

<div class="modal-images">
  <div class="row">
    <% images.find_each do |img| %>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card" style="margin-bottom: 1rem;">
          <%= image_tag img.image, title: img.title.to_s, alt: img.alt.to_s, class: 'card-img-top modal-image' %>
          <div class="modal-image-info">
            <%= hidden_field_tag :image_url, img.image %>
            <%= hidden_field_tag :alt, img.alt %>
            <%= hidden_field_tag :title, img.title %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
