<h1>Articles</h1>

<%= link_to 'New Admin Article', new_admin_article_path, class: 'new-article-button btn btn-outline-dark' %>

<ul class="article-list">
  <% @articles.each do |article| %>
    <li>
      <div>
        <h2><%= article.title %></h2>
        <p>status: <%= article.status %></p>
        <% if article.publication? %>
          <p>publication date: <%= article.publication_date %>
        <% end %>
        <div class="article-menu">
          <%= link_to 'Show', admin_article_path(article) %>
          <%= link_to 'Edit', edit_admin_article_path(article) %>
          <%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
