<h1>New Article</h1>

<div class="article-media-modal-background"></div>
<div class="article-media-modal">
  <%= render partial: 'media', locals: { image: @image, images: @images } %>
</div>

<%= form_with(model: @article, local: true, url: admin_articles_path) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %><br />
    <%= form.select :status, Article.statuses.keys %>
  </div>

  <div class="field">
    <%= form.label :publication_date %>
    <%= form.datetime_select :publication_date, id: :publication_date %><%= Time.zone.now.time_zone.name %>
  </div>

  <div class="field">
    <%= form.label :document_type %><br />
    <%= form.select :document_type, Article.document_types.keys, id: :article_document_type %>
  </div>

  <div class="field">
    <%= form.label :permalink %><br />
    <%= form.text_field :permalink, id: :article_permalink %>
  </div>

  <div class="field">
    <%= form.label :title %><br/>
    <%= form.text_field :title, id: :article_title %>
  </div>

  <div class="field">
    <%= form.label :body %> <%= button_tag 'Add media', type: "button", class: 'article-media-button' %><br />
    <%= form.text_area :body, id: :article_body %>
  </div>

  <div class="field">
    <%= form.label :categories %><br />
    <%= collection_check_boxes(:article, :category_ids, Category.all, :id, :title) do |ccb| %>
      <%= ccb.label { ccb.check_box + ccb.text } %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tags %><br />
    <%= collection_check_boxes(:article, :tag_ids, Tag.all, :id, :title) do |ccb| %>
      <%= ccb.label { ccb.check_box + ccb.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: 'article-submit-button', 'data-action': admin_articles_path %>
    <%= form.submit 'Preview', class: 'article-preview-button', 'data-action': preview_admin_articles_path %>
  </div>
<% end %>

<%= link_to 'Back', admin_articles_path %>
