<h2><%= @article.title %></h2>

<% if @article.publication? %>
  <p>
    URL: <%= link_to article_url(@article.permalink), article_path(@article.permalink) %>
  </p>
<% end %>

<p>
  status: <%= @article.status %>
</p>

<% if @article.publication? %>
  <p>
    publication date: <%= @article.publication_date %>
  </p>
<% end %>

<p>
  document_type: <%= @article.document_type %>
</p>

<div class="article-body">
  <% if @article.html? %>
    <p>
      <%= @article.body %>
    </p>
  <% elsif @article.markdown? %>
    <%= sanitize markdown(@article.body) %>
  <% end %>
</div>

<div class="article-category">
  <h3>Categories</h3>
  <% @article.categories.each do |category| %>
    <%= category.title %><br />
  <% end %>
</div>

<div class="article-tag">
  <h3>Tags</h3>
  <% @article.tags.each do |tag| %>
    <%= tag.title %><br />
  <% end %>
</div>

<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
