<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tag.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<%= link_to 'Edit', edit_admin_tag_path(@tag) %> |
<%= link_to 'Back', admin_tags_path %>
