<div class="container">
  <h1>Settings</h1>
  <%= form_with(model: @setting, local: true, url: init_setting_path) do |form| %>
    <% if @setting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

        <ul>
        <% @setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :site_name %><br />
      <%= form.text_field :site_name %>
    </div>

    <div class="field">
      <%= form.label :site_description %><br />
      <%= form.text_area :site_description %>
    </div>

    <div class="field">
      <%= form.label :syntax_highlight %>
      <%= form.select :syntax_highlight, Setting.syntax_highlights.keys.to_a, {} %>
    </div>

    <div class="field">
      <%= form.label :theme %>
      <%= form.select :theme, theme_directories %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
