<div class="site-summary">
  <h1><%= @setting.site_name %></h1>
  <p><%= @setting.site_description %></p>
</div>

<div class="receptacle">
  <div class="articles-view">
    <% @articles.each do |article| %>
      <div class="article-card">
        <h2><%= link_to article.title, article_path(article.permalink) %></h2>
        <% if article.html? %>
          <div><%= truncate article.body %></div>
        <% elsif article.markdown? %>
          <div><%= truncate strip_tags(markdown(article.body)) %></div>
        <% end %>

        <%= link_to 'Read more', article_path(article.permalink) %>
      </div>
    <% end %>
  </div>
</div>
