<div class="site-summary">
  <h1><%= @setting.site_name %></h1>
  <p><%= @setting.site_description %></p>
</div>

<div class="receptacle">
  <article class="article-view">
    <div class="article-title">
      <h1><%= @article.title %></h1>
    </div>

    <div class="article-body">
      <% if @article.html? %>
        <%= sanitize @article.body %>
      <% elsif @article.markdown? %>
        <%= sanitize markdown(@article.body) %>
      <% end %>
    </div>
  </article>
</div>
