/*
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_self
 */

.fontawesome-i2svg-pending body {
  display: none;
}

body {
  padding-top: 3.5rem;
}

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.new-article-button {
  margin-bottom: 1rem;
}

.article-list {
  list-style-type: none;
  padding: 0;

  li {
    background-color: #FAFAFA;
    border: solid 2px #DDDDDD;
  }
}

.article-body {
  background-color: #FAFAFA;
  border: solid 2px #DDDDDD;
}

.field {
  input[type="text"] {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 500px;
  }
}

.article-media-modal-background {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgba(149,165,166 ,0.6);
  width: 100%;
  height: 130%;
}

.article-media-modal {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  overflow: auto;
  background-color: #FFFFFF;
  padding: 0.5rem;
}

.modal-image-addition-form {
  display: none;
}
