/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

body {
  margin: 0;
}

.site-summary {
  margin: 0;
  padding: 0.5rem 1rem;

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.receptacle {
  padding: 0 1rem;
}

.articles-view {
  border: solid 1px #000;
}

.article-card {
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;

  h2 {
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }

  > div {
    margin: 0;
  }
}

.article-view {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
