<p id="notice"><%= notice %></p>

<h1>Admin Images</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Alt</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.image %></td>
        <td><%= image.alt %></td>
        <td><%= image.title %></td>
        <td><%= link_to 'Show', admin_image_path(image) %></td>
        <td><%= link_to 'Edit', edit_admin_image_path(image) %></td>
        <td><%= link_to 'Destroy', admin_image_path(image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Image', new_admin_image_path %>
