<h1>New Admin Image</h1>

<%= form_with(model: @image, local: true, url: admin_images_path) do |form| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this admin_image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :image_image %>
  </div>

  <div class="field">
    <%= form.label :alt %>
    <%= form.text_field :alt, id: :image_alt %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :image_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_images_path %>
