<h1>Users</h1>

<%= link_to 'New user', new_user_registration_path, class: 'btn btn-outline-dark' %>

<table>
  <thead>
    <tr>
      <th>email</th>
      <th>admin</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'edit', edit_admin_user_path(user.id) %>
      </tr>
    <% end %>
  </tbody>
</table>
