<style type="text/css">
  <% case syntax_highlight %>
  <% when 'base16 light' %>
    <%= Rouge::Themes::Base16.mode(:light).render(scope: '.highlight') %>
  <% when 'base16 dark' %>
    <%= Rouge::Themes::Base16.mode(:dark).render(scope: '.highlight') %>
  <% when 'colorful' %>
    <%= Rouge::Themes::Colorful.render(scope: '.highlight') %>
  <% when 'github' %>
    <%= Rouge::Themes::Github.render(scope: '.highlight') %>
  <% when 'gruvbox light' %>
    <%= Rouge::Themes::Gruvbox.mode(:light).render(scope: '.highlight') %>
  <% when 'gruvbox dark' %>
    <%= Rouge::Themes::Gruvbox.mode(:dark).render(scope: '.highlight') %>
  <% when 'igor_pro' %>
    <%= Rouge::Themes::IgorPro.render(scope: '.highlight') %>
  <% when 'molokai' %>
    <%= Rouge::Themes::Molokai.render(scope: '.highlight') %>
  <% when 'monokai' %>
    <%= Rouge::Themes::Monokai.render(scope: '.highlight') %>
  <% when 'monokai sublime' %>
    <%= Rouge::Themes::MonokaiSublime.render(scope: '.highlight') %>
  <% when 'pastie' %>
    <%= Rouge::Themes::Pastie.render(scope: '.highlight') %>
  <% when 'thankful eyes' %>
    <%= Rouge::Themes::ThankfulEyes.render(scope: '.highlight') %>
  <% when 'tulip' %>
    <%= Rouge::Themes::Tulip.render(scope: '.highlight') %>
  <% end %>
</style>
