<!DOCTYPE html>
<html>
  <head>
    <title>Wordspeaker admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'layouts/syntax_highlight', locals: { syntax_highlight: @setting.syntax_highlight } %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-eval': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <%= link_to 'Dashboard', admin_path, class: 'navbar-brand' %>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Overview', admin_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Settings', admin_settings_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item active">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <% if controller.controller_name == 'dashboard' %>
                <%= link_to 'Dashboard', admin_path, class: 'nav-link active' %>
              <% else %>
                <%= link_to 'Dashboard', admin_path, class: 'nav-link' %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if controller.controller_name == 'articles' %>
                <%= link_to 'Articles', admin_articles_path, class: 'nav-link active' %>
              <% else %>
                <%= link_to 'Articles', admin_articles_path, class: 'nav-link' %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if controller.controller_name == 'categories' %>
                <%= link_to 'Categories', admin_categories_path, class: 'nav-link active' %>
              <% else %>
                <%= link_to 'Categories', admin_categories_path, class: 'nav-link' %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if controller.controller_name == 'tags' %>
                <%= link_to 'Tags', admin_tags_path, class: 'nav-link active' %>
              <% else %>
                <%= link_to 'Tags', admin_tags_path, class: 'nav-link' %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if controller.controller_name == 'images' %>
                <%= link_to 'Images', admin_images_path, class: 'nav-link active' %>
              <% else %>
                <%= link_to 'Images', admin_images_path, class: 'nav-link' %>
              <% end %>
            </li>
            <% if current_user.admin? %>
              <li class="nav-item">
                <% if %w[users registrations].include?(controller.controller_name) %>
                  <%= link_to 'Users', admin_users_path, class: 'nav-link active' %>
                <% else %>
                  <%= link_to 'Users', admin_users_path, class: 'nav-link' %>
                <% end %>
              </li>
            <% end %>
            <li class="nav-item">
              <% if controller.controller_name == 'settings' %>
                <%= link_to 'Settings', admin_settings_path, class: 'nav-link active' %>
              <% else %>
                <%= link_to 'Settings', admin_settings_path, class: 'nav-link' %>
              <% end %>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
