<!DOCTYPE html>
<html>
  <head>
    <% if @setting.google_site_verification.present? %>
      <meta name="google-site-verification" content="<%= @setting.google_site_verification %>" />
    <% end %>
    <title>Wordspeaker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    original_asset_path + '/stylesheets/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'layouts/syntax_highlight', locals: { syntax_highlight: @setting.syntax_highlight } %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag original_asset_path + '/javascripts/application', 'data-turbolinks-track': 'reload' %>
    <% if @setting.ga_code.present? && !user_signed_in? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', '<%= @setting.ga_code %>', 'auto');ga('send', 'pageview');
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
